/* Styles for Error Page */
.err-container {
    height: 500px;
    width: 800px;
    background-color: rgb(220, 220, 220);
    text-align: center;
    margin: 5em auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 3px solid white;
    border-radius: 5px;

}

.err-msg-container {
    margin: auto;
}

.err-code {
    
    font-size: 8em;
    color: grey;
}

.err-msg {
    color: black;
    margin: 3em auto;
    font-size: 1.5em;
}

.err-link {
    color: black;
    border: 1px solid black;
    padding: 1.5em;
    width: 10em;
    text-decoration: none;
    border-radius: 5px;

}

.err-link:hover {
    background-color: rgba(0,0,0,0.5);
    color: white; 

}

.load {
    text-align: center;
}

#loading {
    width: 40em;
}

@media screen and (max-width:800px) {
    .err-container {
        width: 80%;
    }

    .err-code {
        font-size: 5em;
    }

    .err-msg {
        font-size: 1em;
    }
}

.global-section {
    margin: auto 5em;
}

.global-section-center {
    /* width: 90vw; */
    margin: 0 auto;
    max-width: 1170px;
}


@media screen and (min-width: 2000px) {
    .global-section {
        margin: auto 17em;
    }
}

@media screen and (max-width: 800px) {
    .global-section {
        margin: auto 1em;
    }
}



.white {
    color: white;
}